@using Microsoft.AspNetCore.Identity
@using MLInstagram.Data

@model MLInstagram.Models.Post

@inject UserManager<MLInstagramUser> UserManager

<a class="btn btn-danger mb-3" asp-action="Explore">Back To Explore</a>
<div class="container details-container">
	<div class="row">
		<div class="col-7 border border-end-0 g-0 details-image-container">
			<img src="@Url.Content(Model.S3Url)" class="details-image" />
		</div>
		<div class="col-5 border">
			<div class="row details-header">
				<div class="col-2">
					<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
				</div>
				<div class="col-10 g-0">
					<p class="d-inline site-text fw-bold">@ViewBag.Uploader.IGHandle • </p>
					<a class="d-inline text-primary fw-bolder text-decoration-none" asp-action="Index">Follow</a>
				</div>
			</div>
			<div class="details-body">
				<div class="row text-block">
					<div class="col-2">
						<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
					</div>
					<div class="col-10 g-0">
						<p class="d-inline site-text fw-bold">@ViewBag.Uploader.IGHandle</p>
						<p class="d-inline site-text">@Model.Caption</p>
						<p class="site-text"><small>@((ViewBag.CurrentDate - Model.DatePosted).Hours)h</small></p>
					</div>
				</div>
				<div class="row text-block">
					<div class="col-2">
						<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
					</div>
					<div class="col-10 g-0">
						<p class="site-text">Insert list of comments here (attribute not yet initialized in model)</p>
					</div>
				</div>
			</div>
			<div class="details-buttons">
				<div class="row text-block">
					<div class="heart-icon-container">
						<svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path d="M12 21.35l-1.45-1.32C5.4 16.36 2 13.28 2 9.5 2 6.42 4.42 4 7.5 4c1.74 0 3.41.81 4.5 2.09C15.09 4.81 16.76 4 18.5 4 21.58 4 24 6.42 24 9.5c0 3.78-3.4 6.86-8.55 10.54L12 21.35z" />
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>