@using Microsoft.AspNetCore.Identity
@using MLInstagram.Data

@model MLInstagram.Models.Post

@inject UserManager<MLInstagramUser> UserManager

<a class="btn btn-danger mb-3" asp-action="Explore">Back To Explore</a>
<div class="container">
	<div class="row">
		<div class="col-7 border border-end-0 g-0 details-image-container">
			<img src="@Url.Content(Model.S3Url)" class="details-image" />
		</div>
		<div class="col-5 border">
			<div class="row details-header">
				<div class="col-2">
					<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
				</div>
				<div class="col-10 g-0">
					<p class="d-inline site-text fw-bold">@ViewBag.Uploader.IGHandle • </p>
					<a class="d-inline text-primary fw-bolder text-decoration-none" asp-action="Index">Follow</a>
				</div>
			</div>
			<div class="details-body">
				<div class="row text-block">
					<div class="col-2">
						<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
					</div>
					<div class="col-10 g-0">
						<p class="d-inline site-text fw-bold">@ViewBag.Uploader.IGHandle</p>
						<p class="d-inline site-text">@Model.Caption</p>
						<p class="site-text"><small>@((ViewBag.CurrentDate - Model.DatePosted).Hours)h</small></p>
					</div>
				</div>
				<div class="row text-block">
					<div class="col-2">
						<img src="@Url.Content(ViewBag.Uploader.ProfilePicUrl)" class="dp-thumbnail img-fluid" />
					</div>
					<div class="col-10 g-0">
						<p class="site-text">Insert list of comments here (attribute not yet initialized in model)</p>
					</div>
				</div>
			</div>
			<div class="details-buttons">
				<div class="row text-block">
					<div class="col-12">
						<input type="checkbox" id="heartButton">
						<label for="heartButton" class="heart-button-label">&#9829</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>